<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1>WatchList has the <strong>best movies</strong> for you</h1>
    <p>Find amazing lists and add your personal favorites!</p>
    <%= link_to "Create your own list",  new_list_path, class: "btn btn-secondary"%>
  </div>
</div>
