<div class="container">
  <h1> Movie lists </h1>

  <% @lists.each do |list| %>
    <ul>
      <li>
        <%= link_to list.name, list_path(list) %>
      </li>
    </ul>
  <% end %>

  <%= link_to "Add list", new_list_path, class: "btn btn-primary"%>
  <%= link_to "Add bookmark", new_bookmark_path, class: "btn btn-success"%>
</div>
